.title {
    font-family: "Tahoma", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    color: tomato;
    padding: 10px;
}

li {
    font-family: "Courier New", sans-serif;
    font-size: 30px;
    font-weight: lighter;
    color: darkgrey;
    display: inline-block;
    margin: 30px;
  
}

div {
    text-align: center;
}


.carbonara {
    background-color: cadetblue;
    color: white;
    padding: 12px;

}

.bakedmac {
    background-color: bisque;
    color: white;
    padding: 12px;

}

.lasagna {
    background-color: darksalmon;
    color: white;
    padding: 12px;
}